<h1>🎬 Movies Magic</h1>

<div class="toolbar">

  <!-- CATEGORY DROPDOWN -->
  <mat-form-field appearance="outline" style="width: 220px;">
    <mat-label>Filter by Category</mat-label>
    <mat-select [(ngModel)]="selectedCategory">
      <mat-option value="All">All</mat-option>
      <mat-option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="add-movie">

  <input
    type="text"
    placeholder="Movie Title"
    [(ngModel)]="newTitle">

   <input 
   type="text" 
   placeholder="Image URL" 
   [(ngModel)]="newImage">

   <input 
   type="text" 
   placeholder="Description"
    [(ngModel)]="newDescription">

  <select [(ngModel)]="newCategory">
    <option *ngFor="let cat of categories" [value]="cat">
      {{ cat }}
    </option>
  </select>

 <button type="button" class="add" (click)="addMovie()">
  Add
</button>

</div>
<br><br>
<div class="cards">
  <div
    class="card"
    *ngFor="let movie of filteredMovies; let i = index; trackBy: trackByTitle"
    (click)="selectCard(i)"
    [class.active]="selectedIndex === i"
  >

    <img
      class="poster"
      [src]="movie.image || 'assets/images/placeholder.jpg'"
      [alt]="movie.title"
    >

    <p class="category">{{ movie.category }}</p>
    <h3>{{ movie.title }}</h3>
    
    <div class="rating">⭐ {{ movie.rating }}/10</div>

    <p class="desc">
      {{ movie.description || 'No description available.' }}
    </p>

  </div>
</div>




